@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f8f8f8;
  font-family: "Poppins", sans-serif;
}
section.chat__section {
  width: 500px;
  max-width: 90%;
  /* background: #fff; */
  /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
}
.brand {
  padding: 20px;
  background: #fff;
  display: flex;
  align-items: center;
}
.brand h1 {
  /* text-transform: uppercase; */
  font-size: 20px;
  color: #444;
  margin-left: 10px;
}
.message__area {
  height: 500px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 40px;
}
textarea {
  width: 100%;
  border: none;
  padding: 20px;
  font-size: 16px;
  outline: none;
  background: #fbfbfb;
}

.message {
  padding: 1rem;
  border-radius: 30px;
  margin-bottom: 40px;
  width: auto;
  position: relative;
}
.incoming {
  position: relative;
  background: #8f8be8;
  color: #fff;
  left: 2px;
}
.outgoing {
  background: #e9eafd;
  color: #787986;
  margin-left: 300px;
}
.message h4 {
  position: absolute;
  top: -20px;
  left: 0;
  color: #333;
  font-size: 14px;
}
